#inProgressCheckBox{
    display: none;
}

#inProgresCheckBoxLabel{
    position: relative;
    cursor: pointer;
    padding: 4px;
    font-style: italic;
    border-radius: 5px;
}
h2, h3{
    text-align: center;
}

input[type="text"]{
    padding: 0.3rem;
    border: 1px rgb(106, 106, 106) solid;
    border-radius: 5px;
    transition: border-color 200ms ease-in-out;
}

input[type="text"]:hover{
    border-color: aliceblue;
}
input[type="text"]::placeholder{
    text-align: center;
}

.createTaskButton{
    border: solid 1px rgb(76, 105, 121);
    width: fit-content;
    border-radius: 20px;
    padding-inline: 1rem;
    transition: 150ms ease-in-out;
    cursor: pointer;
}

.createTaskButton:hover{
    border-color: transparent;
    color: black;
    background-color: rgb(40, 119, 162);
    border-color: black;
    box-shadow: 5px 5px 3px rgba(28, 26, 86, 0.357);
}

.createTaskButton:active{
    transform: translateY(2px);
    box-shadow: 2px 2px 3px rgba(28, 26, 86, 0.357);

}


.removeButton{
    font-size: large;
    cursor: pointer;
    transition: all 200ms ease-in;
}
.removeButton:hover{
    color: rgb(217, 88, 88);
    transform: scale(1.2);
}

.sectionHeaderTitle{
    width: fit-content;
    margin: 0 auto 15px auto;
    font-size:xx-large;
    font-weight: 100;
    position: relative;
    letter-spacing: 1px;
}

.archive-icon{
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease-in;
}
.archive-icon:hover{
    color: #c3cc5e;
    transform: scale(1.3);
}