#inProgressCheckBox{
    display: none;
}

#inProgresCheckBoxLabel{
    position: relative;
    cursor: pointer;
    padding: 4px;
    font-style: italic;
    border-radius: 5px;
}
h2, h3{
    text-align: center;
}

input[type="text"]{
    padding: 0.3rem;
    border: 1px rgb(106, 106, 106) solid;
    border-radius: 5px;
    transition: border-color 200ms ease-in-out;
}

input[type="text"]:hover{
    border-color: aliceblue;
}
::placeholder{
    text-align: center;
}

.createTaskButton{
    border: solid 1px rgb(44, 134, 182);
    width: fit-content;
    border-radius: 5px;
    padding: 0.2rem 0.7rem 0.2rem 0.7rem;
    transition: 150ms ease-in-out;
    cursor: pointer;
}

.createTaskButton:hover{
    border-color: transparent;
    color: black;
    background-color: rgb(44, 134, 182);
}


.removeButton{
    cursor: pointer;
    transition: all 200ms ease-in;
}
.removeButton:hover{
    color: rgb(217, 88, 88);
    transform: scale(1.2);
}

.sectionHeaderTitle{
    width: fit-content;
    margin: 0 auto 15px auto;
    font-size:x-large;
    font-weight: 800;
    position: relative;
}
.sectionHeaderTitle::after{
    position: absolute;
    display: block;
    content:'';
    width: 100%;
    border: 1px solid white;
}

.archive-icon{
    cursor: pointer;
    transition: all 200ms ease-in;
    transform: scale(1.2);
}
.archive-icon:hover{
    color: #c3cc5e;
    transform: scale(1.5);
}